@use 'fonts' as font;
@use '../functions' as f;

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 100%;
}

html, body {
    overflow-x: hidden;
    font-family: font.$font-Poppins;
    max-width: f.rem(1550);
    margin: 0 auto;
}

.offset {
    position: absolute;
    left: -1000000px;
}
